---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import { Debug } from 'astro/components';
import Faq from '../components/FAQ.jsx';
import getPosts from '../utils/getPosts';
import getGames from '../utils/getGames';

const blogs = await Astro.glob('../pages/blog/*.md');
const posts = await getPosts();
const games = await getGames();
export async function getStaticPaths() {
  return posts.map((post) => ({ params: { game: post.slug } })) ?? [];
}
---

<Layout title="Welcome to Astro.">
  <Debug {games} />
  <div>
    <main>
      <h1>Welcome to <span class="text-gradient">Astro</span></h1>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <ul role="list" class="link-card-grid">
        <Card href="/about" title="About" body="Learn more about Astro and what makes it special." />
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </main>
    <section class="section blog-section" id="blog-section">
      <div class="container">
        <h2 class="section-title">Our Blog</h2>
        <ul class="grid grid-cols-2 gap-16">
          {
            blogs.map((blog) => (
              <li>
                <article class="flex gap-2">
                  <img class="max-h-64 rounded-xl" src={blog.frontmatter.image.url} alt="blog.frontmatter.image.alt" />
                  <div>
                    <h3 class="m-0 text-2xl text-black">{blog.frontmatter.title}</h3>
                    <p class="text-gray-500">{blog.frontmatter.description}</p>
                    <a href={blog.url} class="text-pink-600">
                      Read more
                    </a>
                  </div>
                </article>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="section" id="casestudies-section">
      <div class="container">
        <h2 class="section-title">Case studies</h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-12 gap-4">
          {
            games?.map((game) => (
              <li class="relative w-full h-28 sm:w-20 sm:h-20 md:w-24 md:h-24 transform transition-transform duration-500 hover:scale-110">
                <a href={`/games/${game.slug}`} class="text-pink-600">
                  <img
                    class="absolute top-0 left-0 w-full h-full rounded-xl"
                    src={game.featuredImage?.node.sourceUrl ?? ''}
                    alt=""
                  />
                  <div class="absolute top-0 left-0 w-full h-full p-1 flex items-center justify-center opacity-0 duration-500 hover:opacity-100 transition-opacity">
                    <h6 class="m-0 text-sm text-white">{game.title}</h6>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section>
      <Faq client:load />
    </section>
  </div>
</Layout>

<style></style>
