---
import { Debug } from 'astro/components';
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<style>
    .container {
        padding: 3rem 0;
        max-width: 1152px;
    }


    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }


    /* And more... */
</style>

<BaseLayout title={frontmatter?.title}>
    <Debug {frontmatter} />
    <div class="container">
        <div class="meta">
            <div>
                <time class="date">{frontmatter.pubDate.slice(0, 10)}</time>
                <h1 class="title">{frontmatter.title}</h1>
                <p class="description">{frontmatter.description}</p>
                <span class="author">Author: <span class="author-name">{frontmatter.author}</span></span>
            </div>
            <img class="poster" src={frontmatter.image.url}  alt={frontmatter.image.alt} />
        </div>
        <div class="body">
            <slot />
        </div>
    </div>
</BaseLayout>
